.section {
  .section-header {
    padding: 15px;
    border-bottom: 1px solid #444;
    font-size: 20px;
  }
  .section-body {
    padding: 0 20px;
  }
}

.pokemon-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  .pokemon {
    // width: 20%;
    padding: 15px;
    display: inline-block;
  }
}